html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

/*************************************
 * Navbar
 *************************************/
.navbar {
    letter-spacing: 1px;
}

.navbar .navbar-brand{
    text-transform: uppercase;
    color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

.navbar .navbar-brand:hover {
    color:  rgba(255, 255, 255, .8);
}

/*************************************
 * footer
 *************************************/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*************************************
 * section
 *************************************/
section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
}

.section-header {
    text-align: center;
    padding-bottom: 75px;
}

.section-header h1 {
    font-size: 45px !important;
    padding-bottom: 10px;
    line-height: 40px;
    position: relative;
    display: inline-block;
}

.footer{
    background-color: #222;
    color: #ddd;
}

.setup-content-body {
    margin-top: 30px;
    margin-bottom: 50px;
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0.1);
}

.package-description li{
    list-style: none;
    margin-left: 0px;
    text-align: left;
}

.h-margin{
    margin-top: 0px;
}

.intro-packages {
    height: 180px;
    margin-top: 40px;

}

.service-item {
    margin-bottom: 15px;

}

.service-item a {
    text-decoration: none;
    cursor: pointer;

}
.service-item a:hover
{
    text-decoration: none;
    color:#2f5eb2;
    border-color: #2f5eb2;
}
.package-icon{
    /**margin-left: 0px;*/
    padding-right: 0px;
    padding-left: 0px;
    width:12%;
}

.page-scroll{
    margin-left: 10px;
}

i.service-icon {
    border: 3px solid #428bca;
    border-radius: 50%;
    display: inline-block;
    font-size: 25px;
    width: 75px;
    height: 75px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

#value-pay,
#expiration-date{
    font-size: 15px;
}

#payment-nib
{
    font-size: 15px;
}

.payment-image{
    border: 1px solid #ccc;
}

#basic-pay-plans{
    border:1px solid #428bca;
}

button:focus
{
    outline:0px !important;
    -webkit-appearance:none;
}

#method-paypal,
#method-bank{
    cursor: pointer;
}

/*************************************
 * Modal
 *************************************/
.modal-body
{
    text-align: left;
}
