
body, html {
    min-height: 100%;
    font-family: "MyriadPro-Regular", sans-serif;
    background: url(../img/bg-landing.jpg) no-repeat center center fixed;

    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

#body_analytics {
    overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "MyriadPro-Regular", sans-serif;
    font-weight: 700;
}

@media (max-width: 767px) {
    #body_analytics {
        overflow: visible;
    }
}


/*************************************
 * Fonts
 *************************************/
@font-face {
    font-family: 'MyriadPro-Regular';
    src: local('Myriad Pro Regular'), local('Myriad Pro Regular'), url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: local('Myriad Pro Bold'), local('Myriad Pro Bold'), url('../fonts/MyriadPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: local('Myriad Pro Semibold'), local('Myriad Pro Semibold'), url('../fonts/MyriadPro-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Open Sans-Light';
    src: local('Open Sans-Light'), local('Open Sans-Light'), url('../fonts/OpenSans-Light.ttf') format('truetype');
}


/*************************************
 * Paragraph & Typographic
 *************************************/
p {
    line-height: 28px;
    margin-bottom: 25px;
}


/*************************************
 * CSS effects
 *************************************/
.grow
{
    display: inline-block;

    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
            transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              -webkit-transform: translateZ(0);
                  -ms-transform: translateZ(0);
                      transform: translateZ(0);

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


/*************************************
 * Navbar
 *************************************/
.mainmenu
{
    z-index: 9999;
    width:   100%;
    padding: 30px 0 0 0;
}

@media (min-width: 768px)
{
	.mainmenu
    {
        position: fixed;
    }
}

.intro-header-analytics {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f8f8f8;
    background-size: cover;
    text-align: center;
}

.intro-message {
    position: relative;
    padding-top: 7%;
    padding-bottom: 50%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.intro-message-social {
    position: relative;
    padding-top: 20%;
    padding-bottom: 50%;
}

.intro-message-social > h1 {
    margin: 0;
    font-size: 5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 32%;

    margin-bottom: 90px;
}

@media (max-width: 768px) {
    .intro-divider {
        margin-left: 0px;
    }
    .intro-message-social>h1{
        font-size: 3em;
    }

}

.intro-message > h4 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    word-spacing: 5px;
}

@media (max-width: 767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

#service1,
#service2,
#service3
{
    min-width: 245px;
    position: relative;
}

#service i
{
    padding-top: 7px;
}

.btn-service
{
    font-size:      23px;
    margin-bottom:  3px;
    /*height:         100%;*/
    min-height:     100px;
    padding-top:    15px;
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn-service {
        font-size: 20px;
        min-width: 100px;
    }
}

#analytics {
    margin-left: 13%;
}

#analytics-text {
    margin-top: 45px;
    margin-left: 15%;
}

@media (max-width: 767px) {
    #analytics {
        margin-left: 0px;
        padding: 0;
    }

    #analytics-text {
        margin-left: 0px;
        padding: 7px;
    }
}

.description {
    font-size: 14px;
    font-family: 'Open Sans-Light', sans-serif;
}


#label-new{
    position: absolute;
    top: 18px;
    right: -3px;
    font-size:18px;
    background-color: #f0ad4e;
    overflow: hidden;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
    padding-right: 10px;
    padding-left: 10px;
}
