html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "MyriadPro-Regular", sans-serif;
}

body > .container {
  padding: 60px 15px 0;
}

/*************************************
 * Fonts
 *************************************/
@font-face {
    font-family: 'MyriadPro-Regular';
    src: local('Myriad Pro Regular'), local('Myriad Pro Regular'), url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: local('Myriad Pro Bold'), local('Myriad Pro Bold'), url('../fonts/MyriadPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: local('Myriad Pro Semibold'), local('Myriad Pro Semibold'), url('../fonts/MyriadPro-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Open Sans-Light';
    src: local('Open Sans-Light'), local('Open Sans-Light'), url('../fonts/OpenSans-Light.ttf') format('truetype');
}


/*************************************
 * Navbar
 *************************************/
.navbar {
    letter-spacing: 1px;
}

.navbar .navbar-brand{
    text-transform: uppercase;
    color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

.navbar .navbar-brand:hover {
    color:  rgba(255, 255, 255, .8);
}

section {
    height:         100%;
    padding-top:    80px;
    margin-bottom:  100px;
}

/*************************************
 * footer
 *************************************/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #ddd;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
